* {
     box-sizing: border-box;
}

body {
     background: #ffffff;
     color: #fff;
}
.support-warning {
     background: #ccb11c;
     color: #000;
     display: block;
     font-family: 'Raleway', sans-serif;
     font-weight: 700;
     opacity: 0.95;
     padding: 3rem;
     position: fixed;
     text-align: center;
     top: 0;
     left: 0;
     width: 100%;
     z-index: 5;
}

.support-warning a {
     color: inherit;
}
.l-grid {
     display: flex;
     flex-wrap: wrap;
}

.l-grid > .l-grid__item {
     flex: 1 0 auto;
}

.l-grid--4x4 > .l-grid__item {
     width: 25%;
}

@supports(display: grid) {
     .support-warning {
          display: none;
     }
.l-grid--4x4 > .l-grid__item {
         width: auto;
     }
     
.l-grid {
          display: grid;
     }
}
.l-grid--4x4 {
     grid-template-columns: repeat(4, 1fr);
     grid-template-rows: repeat(3, minmax(13rem, 1fr));
}

.l-span-column-2 {
     grid-column-start: span 2;
}

.l-span-row-2 {
     grid-row-start: span 2;
}

.l-full-height {
     min-height: 100vh;
}

.align-center {
     align-items: center;
     justify-content: center;
}

.content {
     padding: 3.5rem;
     max-width: 400px;
}
.heading {
     font-family: 'verdana', serif;
     font-size: 1.5rem;
     font-weight: 700;
     line-height: 1.2;
     margin-bottom: 1rem;
}

.description {
     font-family: 'arial', sans-serif;
     font-size: 1rem;
     line-height: 1.5;
}
.theme-LightSteelBlue {
   background: #B0C4DE;
   color: #2F4F4F;
}
.img-background {
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center center;
     color: #fff;
}
.img-background--alcohol {
     background-image: linear-gradient( rgba(0, 0, 0, 1), rgba(0, 0, 0, 1)), url('https://rawcdn.githack.com/Viktorrrrriia/Pictures-for-veb-design/7b3e88c7a9c4c0f1fa36c59840044c47840ff0c8/%D0%A0%D0%BE%D0%BC.jpg');
color: #800000
}
.img-background--black_label{
     background-image: linear-gradient( rgba(0, 0, 0, 1), rgba(0, 0, 0, 1)), url('https://rawcdn.githack.com/Viktorrrrriia/Pictures-for-veb-design/7b3e88c7a9c4c0f1fa36c59840044c47840ff0c8/%D0%A7%D1%91%D1%80%D0%BD%D0%B0%D1%8F%20%D0%BC%D0%B5%D1%82%D0%BA%D0%B0.jpg');
color: #CD853F;
}

.img-background--pattern {
     background: linear-gradient( rgba(0, 0, 0, 1), rgba(0, 0, 0, 1)), url('https://rawcdn.githack.com/Viktorrrrriia/Pictures-for-veb-design/7b3e88c7a9c4c0f1fa36c59840044c47840ff0c8/%D0%9F%D0%B8%D1%80%D0%B0%D1%82%D1%8B.jpg');
color: #800000;
}
.theme-powderblue {
   background: #B0E0E6;
   color: #2F4F4FА;
}
.theme-cornflowerblue {
   background: #6495ED;
   color: #2F4F4F;
}
